@model LNK.AppServices.Lnk.Models.Account.ForgotPasswordModel
@{
    ViewBag.Title = "Forgot your Password?";
    var modelState = ViewData.ModelState;
    var tempShow = true;
    var tempHide = ViewBag.temp;
    var errors = ViewData.ModelState.Where(n => n.Value.Errors.Count > 0).ToList();
}
<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <main>
            <center>
                @if (tempShow != tempHide)
                {
                    <h5 class="indigo-text">@ViewBag.Title</h5>
                    @if (!modelState.IsValid)
                {
                        <span class="red-text text-darken-1">@ViewBag.ErrorMessage</span>
                    }
                    <div class="section"></div>
                    <div class="container">
                        <div class="z-depth-1 lighten-4 row" style=" padding: 32px 48px 32px 48px; border: 1px solid #EEE;">

                            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "col s12", role = "form" }))
                            {
                                <div class='row'>
                                    <div class='input-field col s12'>
                                        @*@Html.ValidationSummary("", new { @class = "green-text text-darken-1" })*@
                                        <span>Please input your Email or Username to reset your password:</span>
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='input-field col s12'>
                                        @Html.TextBoxFor(m => m.UserName, new { type = "email", autocomplete = "off", @required = "required" })
                                        <label for='email'>Enter your Username/Email</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2">
                                        <br />
                                        <center>
                                            <div class='row'>
                                                <input type="submit" class='col s12 btn btn-large waves-effect light-blue lighten-1' name="" value="Reset Your Password" />
                                            </div>
                                        </center>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <div class='row'>
                        <div class='input-field col s12'>
                            @Html.ValidationSummary("", new { @class = "text-darken-1" })

                        </div>
                    </div>

                }
            </center>
        </main>
    </div>
</div>