@using LNK.AppServices.Lnk.Models.Account
@model LoginModel
@{
    ViewData["Title"] = "Login";
    var modelState = ViewData.ModelState;

    var errors = ViewData.ModelState.Where(n => n.Value.Errors.Count > 0).ToList();
    var response = (UserResponseModel)ViewBag.response;
}

<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <main>
            <center>
                
                @if (response.Status == BomBiEn.Shared.Enums.UserStatus.Approved)
                {
                    <p><br /><br />
                        <span class="red-text text-darken-1">Register successfully, You can use fully features now. Back to Homepage</span>
                    </p>
                }
                else
                {
                    <h5 class="indigo-text">Register a new account</h5>
                    <div class="section"></div>

                    <div class="container">
                        <div class="z-depth-1 lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

                            @using (Html.BeginForm("Register", "Account", new { returnUrl = Context.Request.Query["returnUrl"] }, FormMethod.Post, false, new { @class = "col s12" }))
                            {
                                @Html.Hidden("returnUrl")
                                @Html.AntiForgeryToken()
                                <div class='row'>
                                    <div class='col s12'>
                                    </div>
                                </div>

                                <div class='row'>
                                    <div class='input-field col s12'>
                                        @*<input class='validate' type='email' name='email' id='email' />*@
                                        @Html.TextBoxFor(it => it.UserName, new { @class = "validate", autocomplete = "off" })
                                        <label for='email'>Enter your email</label>
                                    </div>
                                </div>

                                <div class='row'>

                                    <div class='input-field col s12'>
                                        @*<input class='validate' type='password' name='password' id='password' />*@
                                        @Html.PasswordFor(it => it.Password, new { @class = "validate", autocomplete = "off", })
                                        <label for='password'>Enter your password</label>
                                    </div>
                                    <label style='float: right;'>
                                        <a class='pink-text' href='~/Account/Login'><b>Login page</b></a>
                                    </label>
                                </div>
                                <br />
                                <center>
                                    <div class='row'>
                                        <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect orange'>Register</button>
                                    </div>
                                </center>
                            }
                        </div>
                    </div>
                }



            </center>

            <div class="section"></div>
            <div class="section"></div>
        </main>
    </div>
    <br><br>
</div>