@{
    ViewData["Title"] = "Vocabularies";
}


<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <div class="row center">
            <h5 class="header col s12 light orange-text">Learn english with easy way</h5>
        </div>
        <br />
        <form method="get" action="~/Vocabularies/Search">
            <nav style="background-color:white;">
                <div class="nav-wrapper">

                    <div class="input-field">
                        <input id="search" name="oq" type="search" placeholder="Type any vocabulary or sentence you want to learn ...">
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>

                </div>
            </nav>
            <br />
            <div class="row center">
                <button href="#" type="submit" id="download-button" class="btn-large waves-effect waves-light orange">Search</button>
            </div>
        </form>
        <br><br><br><br><br><br><br><br>

    </div>
</div>

<div class="container">
    <div class="section">

        <!--   Icon Section   -->


    </div>
    <br><br>
</div>