@{
    ViewData["Title"] = "Vocabularies";
}

<!--------------------- Modal ------------------------>
<!--************************************ Create *******************************************-->
<div id="modalCreate" class="modal">
   <div id="modalContentCreate"></div>
</div>

<!--********************************* Edit **********************************************-->

<div id="modalEdit" class="modal">
        <div id="modalContentEdit"></div>
</div>

<!--*******************************************************************************-->

<div id="modalCreateFlashCard" class="modal">
    <div id="modalContentCreateFlashCard"></div>
</div>

@*<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <div class="row center">
            <h5 class="header col s12 light orange-text">Learn english with easy way</h5>
        </div>
        <br />
        <form method="get" action="~/Vocabularies/Search">
            <nav style="background-color:white;">
                <div class="nav-wrapper">

                    <div class="input-field">
                        <input id="search" name="oq" type="search" placeholder="Type any vocabulary or sentence you want to learn ...">
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>

                </div>
            </nav>
            <br />
            <div class="row center">
                <button href="#" type="submit" id="download-button" class="btn-large waves-effect waves-light orange">Search</button>
                
            </div>
        </form>
        <br><br><br><br><br><br><br><br>

    </div>
</div>

<div class="container">
    <div class="section">
    </div>
    <br><br>
</div>*@

<form asp-action="Create">
    <div class="box-body">
        <a class="waves-effect waves-light btn modal-trigger"  id="modalCreate" onclick="callModalCreate('@Url.Action("CreateCategory", "Categories")')">Create</a>
        <a class="waves-effect waves-light btn modal-trigger"  id="modalEdit" onclick="callModalEdit('@Url.Action("EditCategory", "Categories",new { id="7ec3083bac28426fb7579cca05fa5cb6" })')">Edit</a>
        <a class="waves-effect waves-light btn modal-trigger" id="modalCreateFlashCard" onclick="callModalCreateFlashCard('@Url.Action("CreateFlashCard", "FlashCards")')">Create Flashcard</a>
    </div>
</form>

<script type="text/javascript">
   
    function callModalEdit(url) {
        $('.modal').modal();
        $('#modalContentEdit').load(url);
        $('#modalEdit').modal('open');
    }

    function callModalCreate(url) {
        $('.modal').modal();
        $('#modalContentCreate').load(url);
        $('#modalCreate').modal('open');
    }

    function callModalCreateFlashCard(url) {
        $('.modal').modal();
        $('#modalContentCreateFlashCard').load(url);
        $('#modalCreateFlashCard').modal('open');
    }

</script>