<div style="margin-top: 50px;">
    <div class="container">
        <div class="row">
            <div class="col s12 center-align flow-text"><h2>About LNK Team</h2>
                <span>LNK is a new product and built with the latest technology. We have built it so that it is for everyone to use. In the field of development we already have a lot of experience.</span>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col s12 center-align flow-text">
                <span>Do you want to improve your English vocabulary? LNK offers a comprehensive platform where you can start to compose your own dictionary. It works easily, so also for anyone without technical knowledge. By using flashcard system, it will help users to memorize new words.</span>
        </div>
    </div>
    <h4 class="col s12 center-align abouttitle" style="margin-top: 50px">Our development team</h4>
    <div class="row">
        <div class="col s12 xl6">
            <div class="card-panel grey lighten-5 hoverable">
                <div class="row valign-wrapper">
                    <div class="col s3">
                        <img src="~/images/profile/anhloc.JPG" alt="" class="circle responsive-img aboutimgsize">
                    </div>
                    <div class="col s7 offset-s1">
                        <span class="flow-text aboutname">
                            <strong>Loc Nguyen</strong>
                        </span>
                        <div>
                            <span>
                                <strong>Position: </strong>Founder
                            </span>
                        </div>
                        <div>
                            <span>
                                <strong>Activity Time: </strong>1/2016 - 3/2018
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 xl6">
            <div class="card-panel grey lighten-5 z-depth-3 hoverable">
                <div class="row valign-wrapper">
                    <div class="col s3">
                        <img src="~/images/profile/huy.png" alt="" class="circle responsive-img aboutimgsize">
                    </div>
                    <div class="col s7 offset-s1">
                        <span class="flow-text aboutname">
                            <strong>Huy Tran</strong>
                        </span>
                        <div>
                            <span>
                                <strong>Position: </strong>Full stack developer
                            </span>
                        </div>
                        <div>
                            <span>
                                <strong>Activity Time: </strong>11/2017 - 3/2018
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 xl6">
            <div class="card-panel grey lighten-5 z-depth-3 hoverable">
                <div class="row valign-wrapper">
                    <div class="col s3">
                        <img src="~/images/profile/logan.jpg" alt="" class="circle responsive-img aboutimgsize">
                    </div>
                    <div class="col s7 offset-s1">
                        <span class="flow-text aboutname">
                            <strong>Logan Mai</strong>
                        </span>
                        <div>
                            <span>
                                <strong>Position: </strong>Front-end developer
                            </span>
                        </div>
                        <div>
                            <span>
                                <strong>Activity Time: </strong>11/2017 - 3/2018
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 xl6">
            <div class="card-panel grey lighten-5 z-depth-3 hoverable">
                <div class="row valign-wrapper">
                    <div class="col s3">
                        <img src="~/images/profile/son.jpg" alt="" class="circle responsive-img aboutimgsize">
                    </div>
                    <div class="col s7 offset-s1">
                        <span class="flow-text aboutname">
                            <strong>Mr. Mount</strong>
                        </span>
                        <div>
                            <span>
                                <strong>Position: </strong>Full stack developer
                            </span>
                        </div>
                        <div>
                            <span>
                                <strong>Activity Time: </strong>11/2017 - 3/2018
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 xl6">
            <div class="card-panel grey lighten-5 z-depth-3 hoverable">
                <div class="row valign-wrapper">
                    <div class="col s3">
                        <img src="~/images/profile/duc.jpg" alt="" class="circle responsive-img aboutimgsize">
                    </div>
                    <div class="col s7 offset-s1">
                        <span class="flow-text aboutname">
                            <strong>Duke Pham</strong>
                        </span>
                        <div>
                            <span>
                                <strong>Position: </strong>Full stack developer
                            </span>
                        </div>
                        <div>
                            <span>
                                <strong>Activity Time: </strong>11/2017 - 3/2018
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 xl6">
            <div class="card-panel grey lighten-5 z-depth-3 hoverable">
                <div class="row valign-wrapper">
                    <div class="col s3">
                        <img src="~/images/profile/thu.jpg" alt="" class="circle responsive-img aboutimgsize">
                    </div>
                    <div class="col s7 offset-s1">
                        <span class="flow-text aboutname">
                            <strong>Thu Nguyen</strong>
                        </span>
                        <div>
                            <span>
                                <strong>Position: </strong>Full stack developer
                            </span>
                        </div>
                        <div>
                            <span>
                                <strong>Activity Time: </strong>11/2017 - 3/2018
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

