@model LNK.AppServices.Lnk.Models.FlashCard.CreateFlashCardModel
@{

}
<div class="container">
    <div class="section">
        <main>
            <center>

            </center>
        </main>
    </div>
</div>
