<div class="container">
    <nav>
        <div class="nav-wrapper row col s12">
            <div class="col s6">
                <a href="#!" class="breadcrumb col s2"><i class="medium material-icons center-align">home</i></a>
                <a href="#!" class="breadcrumb">Category</a>
                <a href="#!" class="breadcrumb">Food</a>
            </div>
        </div>
    </nav>
</div>