@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@{
    var user = User.Identity.Name;
}
<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*<meta NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">*@
    <title>@ViewData["Title"] - Learn english with easy way</title>

    <environment names="Development">
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
        <link rel="stylesheet" href="~/css/site.css" />

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="~/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
        <link href="~/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
        <link href="~/css/flashcardcategory.css" type="text/css" rel="stylesheet" media="screen,projection" />
    </environment>
    <environment names="Staging,Production">
        @*<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />*@

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="~/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
        <link href="~/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
        <link href="~/css/flashcardcategory.css" type="text/css" rel="stylesheet" media="screen,projection" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="~/" class="brand-logo">LNK</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="~/Vocabularies">Learn Vocabularies</a></li>
                <li><a href="~/Flashcards">Flash cards</a></li>
                <li><a asp-area="" asp-controller="Categories" asp-action="EditCategory">EditCategory</a></li>
                <li><a href="~/Pronounce">Pronounce</a></li>
                <li><a href="~/Home/About">About</a></li>
                @if (user != null)
                {
                    @*<li><a href="~/Account/Logout" title="Logout"><i class="material-icons">person</i></a></li>*@
                    <li>
                        <a class='dropdown-button' data-beloworigin="true" data-hover="true" href='#' data-activates='dropdown1'><i class="material-icons">person</i></a>
                        <ul id='dropdown1' class='dropdown-content'>
                            <li style="font-size:5px;"><a asp-controller="Account" asp-action="Edit">Edit User</a></li>
                            <li style="font-size:5px;"><a asp-controller="Account" asp-action="ChangePassword">Change password</a></li>
                            <li><a href="~/Account/Logout">Logout</a></li>
                        </ul>
                    </li>
  <!-- Dropdown Structure -->

                }
                else
                {
                    <li><a href="~/Account/login">Login</a></li>
                }
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="~/Vocabularies">Learn Vocabularies</a></li>
                <li><a href="~/Flashcards">Flash cards</a></li>
                <li><a asp-area="" asp-controller="Categories" asp-action="CreateCategory">CreateCategory</a></li>
                <li><a href="~/Pronounce">Pronounce</a></li>
                @if (user != null)
                {
                    @*<li><a href="#" title="Logout"><i class="material-icons" data-activates='dropdown1'>person</i></a></li> //~/Account/Logout*@
                      <!-- Dropdown Trigger -->
                    @*<li>
                            <a class="material-icons" href='#' data-activates='dropdown1'>person</a>
                            <ul id='dropdown1' class='dropdown-content'>
                                <li><a href="#!">Edit User</a></li>
                                <li><a href="#!">Logout</a></li>
                            </ul>
                        </li>*@
                    <li>
                        <a class='dropdown-button' data-beloworigin="true" data-hover="true" href='#' data-activates='dropdown2'><i class="material-icons">person</i></a>
                        <ul id='dropdown2' class='dropdown-content'>
                            <li><a asp-controller="Account" asp-action="Edit">Edit User</a></li>
                            <li><a href="#">Change password</a></li>
                            <li><a href="~/Account/Logout">Logout</a></li>
                        </ul>
                    </li>
                    @*<li>
                            <a class='dropdown-button' data-beloworigin="true" href='#' data-activates='dropdown1'><i class="material-icons">person</i></a>
                            <ul id='dropdown1' class='dropdown-content'>
                                <li><a asp-controller="Account" asp-action="Edit">Edit User</a></li>
                                <li><a href="~/Account/Logout">Logout</a></li>
                            </ul>
                        </li>*@
  <!-- Dropdown Structure -->
                }
                else
                {
                    <li><a href="~/Account/login">Login</a></li>
                }
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    

    @RenderBody()
    <div style="margin-top: 100px;"></div>
    <footer class="page-footer orange">
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="orange-text text-lighten-3" href="">LNK English</a>
            </div>
        </div>
    </footer>
    <environment names="Development">
        @*<script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>*@

        <!--  Scripts-->
        @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>*@
        @*<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>*@

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="~/js/materialize.js"></script>
        <script src="~/js/init.js"></script>
    </environment>
    <environment names="Staging,Production">
        @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>*@

        <!--  Scripts-->
        @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>*@
        @*<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>*@

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="~/js/materialize.js"></script>
        <script src="~/js/init.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-42446070-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-42446070-5');
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
            $('.modal').modal();
            $('.modal').modal('open');
        });
    </script>
</body>
</html>
