@{
    ViewData["Title"] = "Pronounce";
    var user = User.Identity.Name;
}

<div class="container">
    <div class="section">

        <div class="row">
            <h3 class="header center orange-text">250+ SH Words, Phrases, Sentences</h3>
            <p>                
                <iframe width="560" height="315" src="https://www.youtube.com/embed/uguN4ghpKtQ" frameborder="0" allowfullscreen></iframe>
            </p>
        </div>
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Beginning</h5>

                    <p class="light">
                        <ul>
                            <li>
                                <span>shape</span> - <span>/ʃeɪp/</span>
                            </li>
                            <li>
                                <span>shirt</span> - <span>/ʃɜːt/</span>
                            </li>
                            <li>
                                <span>shoe</span> - <span>/ʃuː/</span>
                            </li>
                            <li>
                                <span>ship</span> - <span>/ʃɪp/</span>
                            </li>
                            <li>
                                <span>chef</span> - <span>/ʃef/</span>
                            </li>
                            <li>
                                <span>shadow</span> - <span>/ˈʃædəʊ/</span>
                            </li>
                            <li>
                                <span>shot</span> - <span>/ʃɒt/</span>
                            </li>
                            <li>
                                <span>shut</span> - <span>shut</span>
                            </li>
                            <li>
                                <span>shop</span> - <span>/ʃɒp/</span>
                            </li>
                            <li>
                                <span>shy</span> - <span>/ʃaɪ/</span>
                            </li>
                            <li>
                                <span>shampoo</span> - <span>/ʃæmˈpuː/</span>
                            </li>
                            <li>
                                <span>share</span> - <span>/ʃeə(r)/</span>
                            </li>
                            <li>
                                <span>shave</span> - <span>shave</span>
                            </li>
                            <li>
                                <span>shoelace</span> - <span>/ˈʃuːleɪs/</span>
                            </li>
                            <li>
                                <span>sugar</span> - <span>/ˈʃʊɡə(r)/</span>
                            </li>
                            <li>
                                <span>short</span> - <span>/ʃɔːt/</span>
                            </li>
                            <li>
                                <span>show</span> - <span>show</span>
                            </li>
                            <li>
                                <span>shine</span> - <span>shine</span>
                            </li>
                            <li>
                                <span>shake</span> - <span>/ʃeɪk/</span>
                            </li>
                            <li>
                                <span>shade</span> - <span>shade</span>
                            </li>
                            <li>
                                <span>sharp</span> - <span>sharp</span>
                            </li>                            
                        </ul>
                    </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Middle</h5>

                    <p class="light">
                        <ul>
                            <li>
                                <span>bushes</span> - <span>/ˈbʊʃɪz/</span>
                            </li>
                            <li>
                                <span>dishes</span> - <span>/ˈdɪʃɪz/</span>
                            </li>
                            <li>
                                <span>lotion</span> - <span>/ˈləʊʃn̩/</span>
                            </li>
                            <li>
                                <span>flashlight</span> - <span>/ˈflæʃlaɪt/</span>
                            </li>
                            <li>
                                <span>fishing</span> - <span>/ˈfɪʃɪŋ/</span>
                            </li>
                            <li>
                                <span>milkshake</span> - <span>/ˈʃædəʊ/</span>
                            </li>
                            <li>
                                <span>pushing</span> - <span>/ʃɒt/</span>
                            </li>
                            <li>
                                <span>toothbrushes</span> - <span>shut</span>
                            </li>
                            <li>
                                <span>addition</span> - <span>/əˈdɪʃn̩/</span>
                            </li>
                            <li>
                                <span>directions</span> - <span>/dɪˈrekʃn̩z/</span>
                            </li>
                            <li>
                                <span>tissue</span> - <span>/ˈtɪʃuː/</span>
                            </li>
                            <li>
                                <span>sunshine</span> - <span>/ˈsʌnʃaɪn/</span>
                            </li>
                            <li>
                                <span>seashore</span> - <span>/ˈsiːʃɔː(r)/</span>
                            </li>
                            <li>
                                <span>machine</span> - <span>/məˈʃiːn/</span>
                            </li>
                            <li>
                                <span>washing</span> - <span>/ˈwɒʃɪŋ/</span>
                            </li>
                            <li>
                                <span>musician</span> - <span>/mjuːˈzɪʃn̩/</span>
                            </li>
                            <li>
                                <span>pet shop</span> - <span>/ʃɒp/</span>
                            </li>                            
                        </ul>
                    </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Ending</h5>

                    <p class="light">
                        <ul>
                            <li>
                                <span>brush</span> - <span>/ˈbʊʃɪz/</span>
                            </li>
                            <li>
                                <span>fish</span> - <span>/ˈdɪʃɪz/</span>
                            </li>
                            <li>
                                <span>push</span> - <span>/ˈləʊʃn̩/</span>
                            </li>
                            <li>
                                <span>dish</span> - <span>/ˈflæʃlaɪt/</span>
                            </li>
                            <li>
                                <span>cash</span> - <span>/ˈfɪʃɪŋ/</span>
                            </li>
                            <li>
                                <span>wash</span> - <span>/ˈʃædəʊ/</span>
                            </li>
                            <li>
                                <span>trash</span> - <span>/ʃɒt/</span>
                            </li>
                            <li>
                                <span>eyelash</span> - <span>shut</span>
                            </li>
                            <li>
                                <span>finish</span> - <span>/əˈdɪʃn̩/</span>
                            </li>
                            <li>
                                <span>flash</span> - <span>/dɪˈrekʃn̩z/</span>
                            </li>
                            <li>
                                <span>fresh</span> - <span>/ˈtɪʃuː/</span>
                            </li>
                            <li>
                                <span>rush</span> - <span>/ˈsʌnʃaɪn/</span>
                            </li>
                            <li>
                                <span>wish</span> - <span>/ˈsiːʃɔː(r)/</span>
                            </li>                            
                        </ul>
                    </p>
                </div>
            </div>
        </div>

    </div>
    <br><br>
</div>