/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
    padding: 0 15px;
}

    .icon-block .material-icons {
        font-size: inherit;
    }

.lnk-dashed {
    border: dashed 2px #039be5;
}

.abouttitle {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: xx-large;
}

.aboutimgsize{
    width: 128px;
    height: 128px!important;
}
